*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/********************/
/* Navigation */
/********************/

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: bisque;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 1rem;
}

.ourbuild-primary-navigation {
    display: flex;
}

.header-links {
    position: absolute;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 2rem 0 0 0;
    right: 0px;
    height: 100%;
    width: 50%;
    top: 8vh;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

/* class managed by nav.js */
.header-links-active {
    transform: translateX(0%);
}

.header-links li {
    padding: 0 0 4rem 0;
}

.header-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.burger-menu {
    display: block;
    cursor: pointer;
    margin-right: 2rem;
}

.burger-menu div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 300ms ease;
}

.cross-burger-menu .burger-menu-line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.cross-burger-menu .burger-menu-line2{
    opacity: 0;
}
.cross-burger-menu .burger-menu-line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/***********************************
           Media Queries 
************************************/

@media (min-width:200px) and (max-width:390px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 912px) {
}

@media (min-width: 913px) {

    
    .header-links {
        position: static;
        flex-direction: row;
        padding: 0;
        margin:0 1rem 0 0;
        width: auto;
        transform: translateX(0);
    }

    .header-links li{
        padding: 0 0 0 2rem;
    }
    
    .burger-menu {
        display: none;
        cursor: pointer;
    }
}